

body {
  margin: 0;
  font-family: "Lexend", sans-serif; 
  min-height: 100vh;
  color: rgb(238, 231, 231);
  font-size: 15px; 
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: url("../public/san-diego-backdrop.jpg") no-repeat center center /
    cover;
  filter: blur(5px);
  transform: scale(1.1);
  z-index: -1;
}
